/* スマホ (<576px) */
@media (max-width: 575px) {}

/* ファブレット (≥576px) */
@media (min-width: 576px) and (max-width: 767px) {}

/* タブレット (≥768px) */
@media (min-width: 768px) and (max-width: 991px) {}

/* ノートPC (≥992px) */
@media (min-width: 992px) and (max-width: 1199px) {}

/* デスクトップPC (≥1200px) */
@media (min-width: 1200px) {}


.col-2 {
    padding: 0px;
    margin: 0px;
    position: sticky;/*固定する*/
	position: -webkit-sticky;/*Safari用ベンダープレフィックス*/
 	left: 0;/*ブラウザの左からの距離はゼロ*/
}
.col {
	padding-right: 0px;
    padding-left: 0px;
}

.navbar {
	padding: 7px 10px;
	background-color: #689cf4;
}

.navbar-brand {
	color:#ffffff;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
	color: #b9c9fb;
}

.navbar-logout{
	color:#ffffff
}

.navbar .navbar-logout:hover,
.navbar .navbar-logout:focus {
	color: #c0d6fb;
	text-decoration: none;
}

.nav-link {
	padding: 23px 30px;
	/* border-bottom: 2px solid #e2e7f7; */
}
.nav-link img{
    vertical-align: text-bottom;
    position: relative;
    right: 10px;
}

.nav-link:hover {
    background-color: #f2f5ff;
}

.nav{
	position: sticky;
	/* position: fixed; */
    /* width: 285px; */
}

.tab-content{
	position: absolute;
	top: 20%;
	left: 5%;
	/* border:3px solid red; */
}

.page-header{
	width:max-content;
}

table.table.table-bordered.table-hover{
	width:max-content;
}

body {
	margin-top:62px;
}

