.container{
	width: 100%;
	max-width: 550px;/* PCだと入力フォームが横長になる事を回避 */
}

/* @media (orientation: landscape) and (max-width: 812px){ */
/* デバイス横向きで画面の横幅が 812px 以下の場合の記述 */
/*  .container */

body {
	margin-top: 64px;/* 上〜青線の距離 */
}

header {
	margin-top: 28px;/* 青線〜見出しの距離*/
	margin-bottom: 16px;/* 見出し〜項目名の距離 */
}

h5 {
  color: #364e96;/* 文字色 */
  margin: 20px;/* 文字周りの余白 */
}

label {
	margin-bottom: 6px;/* 項目名〜テキストボックスの距離 */
}

form {
	padding-left: 20px;/* 左枠と入力エリアの距離 */
	padding-right: 20px;/* 右枠と入力エリアの距離 */
	padding-bottom: 30px;/* 右枠と入力エリアの距離 */
}

div[id="password-form"] {
	padding: 10px;
	margin-bottom: 26px;
}

.border {
	padding: 10px;
	border-radius: 7px;
	box-shadow: 0px 0px 10px;
    border-top: 6px solid #0096ff!important;
}

.text-danger {
	font-size: small;
}

.form-group {
	padding: 10px;
	margin-bottom: 3px;
}

.btn {
    border-radius: 25px;
    padding: 10px 25px;
    margin-left: 10px;
}
