@media (min-width: 1025px){
    body {
        font-size: 1rem;
        width: 100%;
        margin: 0 auto;
        min-height: 100vh;
        display: grid;
        grid-template:
        "... ...... ...... ...... ...... ...... ..."
        "... header header header header header ..." 100px
        "... ...... ...... ...... ...... ...... ..."
        "... ...... ...... center ...... ...... ..." 1fr
        "... ...... ...... ...... ...... ...... ..."
        "... footer footer footer footer footer ..." 100px
        "... ...... ...... ...... ...... ...... ..."
        / auto 300px auto 1fr auto 300px auto;
    }

    dt img.store {
        width: 30%;
        max-height: 100%;
        object-fit: contain;
        padding: 0% 1%;
    }

    li.list-group-item{
        border-radius: 7px;
        box-shadow: 0px 0px 1px;
        border: 1px solid #d8dae4!important;
    }
}

@media (max-width: 1024px) {
    body {
        font-size: 0.8rem;
        grid-template:
        "header" 150px
        "center" 1fr
        "footer" 300px;
    }
    header {
        grid-area: header;
    }

    dl.list-unstyled{
        padding-left: 1%;
    }

    dt{
        width:36%;
    }
    dd{
        width:55%;
        margin:0% 2%;
    }
    dt img.store {
          width: inherit;
          max-height: 100%;
          object-fit: contain;
    }
}

@media (max-width: 599px) {
    body {
      font-size: 0.7rem;
      grid-template:
        "header" 150px
        "center" 1fr
        "footer" 300px;
    }
    header {
    grid-area: header;
    }

    dl.list-unstyled{
        padding-left: 1%;
    }

    dt{
      width:36%;
    }
    dd{
      width:59%;
      margin:0% 2%;
    }
    dt img.store {
        width: inherit;
        max-height: 100%;
        object-fit: contain;
    }
}


li.current[aria-selected="true"] a.page-link{
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

header {
    grid-area: header;
}
main {
    grid-area: center;
    justify-self: center;
    color: black;
}

footer {
    grid-area: footer;
    justify-self: center;
    color: black;
}

li.list-group-item{
    list-style: none;
    letter-spacing: -1em; /* 文字間を詰める */
    white-space: nowrap; /* 自動で折り返ししない */
    padding-left:1%;
}

dl.list-unstyled{
    display:flex;
}

dt.backGroundImage{
    display: contents;
    /*   display: inline-block; */
    /*   background-image: url(https://1.bp.blogspot.com/-nfvcUQSt7_Q/XQjug16FpwI/AAAAAAABTS8/L9ihxS-2nnYgg5TFFdOpagSN2_EhsbfcwCLcBGAs/s800/syokki_ochawan.png); */
    min-width: 220px;
    min-height: 220px;
    /*   background-position: center;
    background-size: contain; */
    background-repeat: no-repeat;
    background-color: #E5E5E5;
    background-size: auto 100%;
    background-position: 50%;
}

dd{
    display: inline-block;
    width: 65%;
    letter-spacing: normal; /* 文字間を元に戻す */
    white-space: normal; /* 自動で折り返し(元に戻す) */
    padding-top:7%;
    padding-left:0;
}

dd h6.storeName{
    font-weight: 700;
}

dd img.pin{
    position: relative;
    left: 0px;
    top: -3px;
}

a.storeLink{
    color: black;
}

.btn-outline-primary:focus {
    box-shadow: none;
}
.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
}
/* 背景用→ #F3F6F9 */



/* body { */
	/* margin: 64px;上〜青線の距離 */
/* } */

/* header { */
	/* margin-top: 28px;青線〜見出しの距離 */
	/* margin-bottom: 16px;見出し〜項目名の距離 */
/* } */
/* #jquery-sample {
    margin: 10px;
    width: 200px;
}
#jquery-sample-ajax {
    margin: 10px;
    padding: 10px;
    height: 100px;
    background-color: yellow;
    border: 1px solid gray;
    border-radius: 10px;
} */