<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- Bootstrapの設定 -->
<link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet"></link>
<link th:href="@{/css/adminHome.css}" rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
<title>Home</title>
</head>
<body>
	<!-- ===== ヘッダー（ナビゲーションバー） =====  -->
	<header>
		<nav class="navbar navbar-inverse fixed-top">
			<div class="container-fluid">
				<a th:href="@{'/admin'}" class="navbar-brand mr-auto">Admin</a>
				<!-- <a th:href="@{'/userDetail/' + ${session.userId}}">プロフィール</a> -->
				<a th:href="@{/logout}" class="navbar-logout">ログアウト</a>
			</div>
		</nav>
	</header>
	<!-- ===== サイドバー ===== -->
	 <div class="row">
			<div class="col-2">
				<div class="nav flex-column" aria-orientation="vertical">
					<a class="nav-link" th:href="@{'/userList'}"><img th:src=@{/images/users.svg}>ユーザー一覧</a>
					<a class="nav-link" th:href="@{'/storeList'}"><img th:src=@{/images/shopping-bag.svg}>店舗一覧</a>
					<!-- <li role="presentation"><a th:href="@{'/userList'}">ユーザ一覧</a></li> -->
				 </div>
			</div>
		<!-- ===== コンテンツ ===== -->
		<div class="col">
			<div class="tab-content">
				<div th:insert="__${adminContents}__"></div>
			</div>
		</div>
	</div>
</body>
</html>