<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<!-- jQueryとBootstrapのファイルを読み込む -->
<link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
<title>Login</title>
</head>
<body class="text-center">
	<h1>ログイン</h1>
	<form method="post" th:action="@{/login}">
		<!-- ポイント：ログインエラーメッセージの表示 -->
		<!-- エラーメッセージ -->
		<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']}!=null"
			th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
			class="textdanger">
			ログインエラーメッセージ
		</p>
		<!-- メールアドレス -->
		<label>メールアドレス</label>
		<input type="email" name="mailAddress"><br />
		<br />
		<!-- パスワード -->
		<label>パスワード</label>
		<input type="password" name="password"><br />
		<br />
		<!-- ログインボタン -->
		 <button class="btn btn-primary" type="submit">ログイン</button>
	</form>
	<br/>
	<!--  ポイント２：th:href -->
	<!--  ユーザー登録画面へのリンク -->
	<a href="/signup">ユーザー新規登録はこちら</a>
</body>
</html>
<!--
th:hrefタイムリーフを使ってアンカータグを使う場合、『th:href』属性を使用する
コントローラークラスの@GetMappingアノテーションのカッコ内の文字列を、
@{'/xxx'}という形式にすれば、遷移先を指定できる
アンカータグなので、HTTPリクエストはGETメソッドで送信される

･ログインエラーメッセージの表示
ログインエラーメッセージを表示するためには、th:if属性を使う
上記コードでは、セッションにセキュリティのエラーがあれば、
エラーメッセージを表示する
-->
