<!DOCTYPEhtml>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8"></meta>
<link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div>
		<div class="row">
			<div class="col-md-6">
				<div class="page-header">
					<h1>プロフィール編集</h1>
				</div>
				<form method="post" th:action="@{'/userDetail/' + ${userId}}"
					th:object="${userDetailForm}">
					<table class="table table-bordered table-hover">
						<tr>
							<!-- ユーザー名 -->
							<!-- エラー用CSSの追加 -->
							<th class="active">ユーザー名</th>
							<td>
								<div class="form-group"
                                    th:classappend="${#fields.hasErrors('userName')} ? 'has-error'">
                                    <input type="text" class="form-control"
                                        th:field="*{userName}" />
                                     <!-- 個別エラーメッセージの表示 -->
                                    <span class="text-danger"
                                        th:if="${#fields.hasErrors('userName')}"
                                        th:errors="*{userName}">
                                        userName error
                                    </span>
                                </div>
							</td>
						</tr>
						<tr>
							<!-- メールアドレス -->
							<!-- エラー用CSSの追加 -->
							<th class="active">メールアドレス</th>
							<td>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('mailAddress')}?'has-error'">
									<input type="text" class="form-control"
										th:field="*{mailAddress}" />
										<!-- 個別エラーメッセージの表示 -->
										<span class="text-danger"
											th:if="${#fields.hasErrors('mailAddress')}"
											th:errors="*{mailAddress}">
											mailAddress error
										</span>
								</div>
							</td>
						</tr>
						<tr>
							<!-- パスワード -->
							<th class="active">パスワード</th>
                            <td>
                             <div class="form-group"
                                    th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                                    <input type="text" class="form-control"
                                        th:field="*{password}" />
                                    <!-- 個別エラーメッセージの表示 -->
                                    <span class="text-danger"
                                        th:if="${#fields.hasErrors('password')}"
                                        th:errors="*{password}">
                                        password error
                                    </span>
                                </div>
                            </td>
						</tr>
					</table>
					<!-- 更新ボタン -->
					<button class="btn btn-primary btn ml-1 space" type="submit"
						name="update">更新</button><br>
					<!-- ホームへ戻るボタン -->
					<p><p><button class="btn btn-secondary btn ml-1 space" type="button"
						 onclick="location.href='../home'">ホームへ戻る</button></p></p>
					 <!--  ユーザー一覧へ戻るボタン -->
					<p><div role="presentation" sec:authorize="hasRole('ADMIN')">
					<button class="btn btn-secondary ml-1 space" type="button"
						 onclick="location.href='/userList'">ユーザー一覧へ戻る</button></p>
					</div>
					<p><span th:text="${result}"></span></p>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

